diffusers
librosa
sounddevice
glitch_this
PyOpenGL
glfw
scipy >=1.13.1
requests
aiohttp
moviepy==1.0.3
matplotlib
reportlab
openai
PyPDF2
pdf2image
PyMuPDF
reportlab
PyPDF2
ollama
kornia
opencv-python
gdown
open_clip_torch
google-genai
google-cloud-storage
fal-client
runwayml
httpx
huggingface_hub
