librosa
glitch_this
PyOpenGL
glfw
scipy>=1.13.1
requests
aiohttp
imageio[ffmpeg]
matplotlib
reportlab
openai
PyPDF2
PyMuPDF
ollama
kornia
opencv-python
gdown
open_clip_torch
google-genai>=1.66.0,<2.0.0
google-cloud-storage
fal-client
runwayml
httpx
huggingface_hub
scikit-learn
